@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  background-color: theme(colors.slate.950);
  color: theme(colors.slate.100);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
